<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUKY</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Iniciar Sesion</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Bienvenido a LUKY</h1>
            <p>¡Aquí puedes encontrar todo tipo de servicio!</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 LUKY. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
