/* Centrar texto y formulario */
.center-text {
    text-align: center;
    margin: 0 auto;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    width: 600px;
}

button {
    padding: 10px 20px;
}

/* Estilo del cuadro de publicaciones */
.publicaciones-container {
    display: flex;
    justify-content: center;
}

.publicaciones {
    border: 1px solid #ccc;
    padding: 20px;
    width: 80%; /* Puedes ajustar el tamaño del cuadro aquí */
    height: 400px; /* Altura fija para el cuadro de publicaciones */
    background-color: #f0fbfa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    overflow-y: auto; /* Agrega el scroll vertical */
}

/* Estilo de cada publicación individual */
.publicacion {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}

/* Estilos del header y footer */
header {
    background-color: #3AA8AD;
    color: white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

nav ul li a:hover {
    background-color: #4CC3C8;
}

main {
    padding-top: 80px; /* Asegúrate de que el contenido no esté oculto detrás del navbar */
    padding-bottom: 60px; /* Asegúrate de que el contenido no esté oculto detrás del footer */
    box-sizing: border-box;
}

footer {
    background-color: #4CC3C8;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

/* Elimina el margen y padding del body para asegurar que no haya espacio en blanco */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d8f5f4;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}
