body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8f5f4;
    box-sizing: border-box;
}

header {
    background-color: #3AA8AD; /* Cambio de color */
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

nav ul li a:hover {
    background-color: #4CC3C8; /* Cambio de color al pasar el ratón */
}

.container {
    position: relative;
}
input {
    
    padding: 10px;
    padding-right: 600px;
    border-radius: 5px;
}
main {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #3AA8AD; /* Cambio de color */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
