body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8f5f4;
    box-sizing: border-box;
}

header {
    background-color: #3AA8AD; 
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #4CC3C8;
    border-radius: 5px;
}

main {
    padding: 2rem;
    text-align: center;
}

main h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

main p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.container input {
    padding: 10px;
    width: 300px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    border-right: none;
    outline: none;
}

.container button {
    padding: 10px;
    border: none;
    background-color: #3AA8AD;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

.container button:hover {
    background-color: #4CC3C8;
}

footer {
    background-color: #3AA8AD; 
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
