body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3AA8AD;
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

main {
    padding: 2rem;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.publicaciones {
    margin-top: 20px;
}

.publicaciones-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 400px; /* Altura máxima del contenedor de publicaciones */
    overflow-y: auto; /* Scroll vertical si hay más de 3 publicaciones */
}

.publicacion {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px); /* Tamaño del cuadro de publicación (tres columnas) */
}

#agregar-publicacion {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3AA8AD;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #3AA8AD;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
